<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>YummyFood</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/category.css">
</head>

<body>

<div id="menu" th:insert="home :: menu_fragment"></div>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Orders</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mt-3">
                        <form id="form" th:action="@{/api/booking/get-all/admin}" th:method="get">
                            <label style="width: 100%">
                                Show
                                <select onchange="checkOption()" name="size" class="form-select form-select-sm">
                                    <option th:selected="${tPage.size == 5}" value="5">5</option>
                                    <option th:selected="${tPage.size == 10}" value="10">10</option>
                                    <option th:selected="${tPage.size == 15}" value="15">15</option>
                                </select>
                                entries
                            </label>
                            <button hidden id="submit" type="submit"></button>
                        </form>
                    </div>
                    <div class="col-sm-4 mt-3">
                    </div>
                    <div class="col-sm-4 mt-1">
                        <form id="formSearch" th:action="@{/api/booking/search}" th:method="get">
                            <div hidden>
                                <input id="size" name="size" th:value="${5}">
                                <input id="filter" name="filter" th:value="${1}">
                            </div>
                            <input type="submit" style="margin-right: 270px" class="btn site-btn btn-close-dark" value="Search:">
                            <input id="searchValue" th:value="${filter}" onkeyup="searchTable()" style="width: 100%" type="search" class="form-control form-control-sm">
                        </form>
                        <form id="formClear" th:action="@{/api/booking/get-all/admin}" th:method="get">
                            <div hidden>
                                <input id="sizeClear" name="size" th:value="${5}">
                            </div>
                            <input onclick="clearFilter()" type="submit" style="margin-right: 250px" class="btn site-btn btn-close-dark" value="Clear filter">
                        </form>
                    </div>
                </div>
            </div>
            <table id="table" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th style="text-align:center; width: 300px">ID</th>
                    <th style="text-align:center; width: 100px">CREATED</th>
                    <th style="text-align:center; width: 100px">TOTAL PRICE</th>
                    <th style="text-align:center; width: 100px">TOTAL AMOUNT</th>
                    <th style="text-align:center; width: 100px">STATUS</th>
                    <th style="text-align:center; width: 300px">USER</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!tPage?.content.isEmpty()}" th:each="t: ${tPage.content}">
                    <td class="text-center" style="width: 300px" th:text="${t.id}"></td>
                    <td class="text-center" style="width: 100px" th:text="${t.created}"></td>
                    <td class="text-center" style="width: 100px" th:text="${t.totalPrice}"></td>
                    <td class="text-center" style="width: 100px" th:text="${t.totalAmount}"></td>
                    <td class="text-center" style="width: 100px" th:text="${t.status}"></td>
                    <td class="text-center" style="width: 300px" th:text="${t.user.id}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th style="text-align:center; width: 300px">ID</th>
                    <th style="text-align:center; width: 100px">CREATED</th>
                    <th style="text-align:center; width: 100px">TOTAL PRICE</th>
                    <th style="text-align:center; width: 100px">TOTAL AMOUNT</th>
                    <th style="text-align:center; width: 100px">STATUS</th>
                    <th style="text-align:center; width: 300px">USER</th>
                </tr>
                </tfoot>
            </table>
            <div class="clearfix" th:if="${!tPage?.content.isEmpty()}">
                <div class="hint-text">
                    Showing
                    <b th:text="${tPage.size * (currentPage - 1) + 1}"></b>
                    to
                    <b th:if="${currentPage == tPage.totalPages}"
                       th:text="${tPage.size * currentPage -
                           (currentPage * tPage.size - tPage.totalElements)}">
                    </b>
                    <b th:if="${currentPage != tPage.totalPages}"
                       th:text="${tPage.size * currentPage}">
                    </b>
                    of
                    <b th:text="${tPage.totalElements}"></b> entries
                </div>
                <div class="pagination">
                    <li class="page-item">
                        <a th:if="${currentPage > 1}"
                           th:href="@{/api/booking/search(size=${tPage.size}, page=${currentPage - 1}, filter=${filter})}"
                           class="page-link">Previous</a>
                        <a th:if="${currentPage == 1}"
                           class="page-link">Previous</a>
                    </li>
                    <li class="page-item" th:if="${tPage.totalPages > 0}"
                        th:each="pageNumber : ${pageNumbers}"
                        th:class="${pageNumber==tPage.number + 1} ? active">
                        <a th:href="@{/api/booking/search(size=${tPage.size}, page=${pageNumber}, filter=${filter})}"
                           th:text="${pageNumber}" class="page-link">
                        </a>
                    </li>
                    <li class="page-item">
                        <a th:if="${currentPage != tPage.totalPages}"
                           th:href="@{/api/booking/search(size=${tPage.size}, page=${currentPage + 1}, filter=${filter})}"
                           class="page-link">Next</a>
                        <a th:if="${currentPage == tPage.totalPages}"
                           class="page-link">Next</a>
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function checkOption() {
        document.getElementById('submit').click();
    }

    function searchTable() {
        const form = document.getElementById('form');
        const optionValue = form.getElementsByTagName('select').item(0).value;
        const formSearch = document.getElementById('formSearch');
        const input = formSearch.getElementsByTagName('input');
        const searchValue = input.item(3).value;
        input.item(0).setAttribute('value', optionValue);
        input.item(1).setAttribute('value', searchValue);
    }

    function clearFilter() {
        const form = document.getElementById('form');
        const optionValue = form.getElementsByTagName('select').item(0).value;
        const formClear = document.getElementById('formClear');
        const input = formClear.getElementsByTagName('input');
        input.item(0).setAttribute('value', optionValue);
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>